<?php echo $this->doctype();
$form = $this->layout()->form;
$form->prepare();
$form->setAttribute('action', $this->url(NULL, array('controller' => 'Auth', 'action' => 'login')));

?>
<html lang="en">
<head>
    <meta charset="utf-8">
    <?php echo $this->headTitle('ZF2 ' . $this->translate('Reparapp Web'))->setSeparator(' - ')->setAutoEscape(false) ?>

    <?php echo $this->headMeta()->appendName('viewport', 'width=device-width, initial-scale=1.0') ?>

    <!-- Le styles -->
    <?php echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/images/favicon.ico'))
        ->prependStylesheet($this->basePath() . '/css/bootstrap-responsive.min.css')
        ->prependStylesheet($this->basePath() . '/css/style.css')
        ->prependStylesheet($this->basePath() . '/css/login.css')
        ->prependStylesheet($this->basePath() . '/css/bootstrap.min.css') ?>

    <!-- Scripts -->
    <?php echo $this->headScript()->prependFile($this->basePath() . '/js/html5.js', 'text/javascript', array('conditional' => 'lt IE 9',))
        ->prependFile($this->basePath() . '/js/login.js')
        ->prependFile($this->basePath() . '/js/bootstrap.min.js')
        ->prependFile($this->basePath() . '/js/jquery-3.2.1.min.js') ?>
</head>
<body>
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="<?php echo $this->url('home') ?>"><?php echo $this->translate('Repar-app web') ?></a>
            <div class="nav-collapse">
                <ul class="nav">
                    <li class="active"><a
                                href="<?php echo $this->basePath().'/application/admin/index'; ?>"><?php echo $this->translate('Usuarios') ?></a>
                    </li>
                    <li class="active">
                        <!--<a href="<?php /*echo $this->url('home') */?>"><?php /*echo $this->translate('Login') */?></a>-->
                        <a href="#login-modal" role="button" data-toggle="modal" data-target="#login-modal">Login</a>
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>
<div class="container">
    <?php echo $this->content; ?>
    <hr>

    <footer>
        <p>&copy; 2005 - 2012 by Zend Technologies Ltd. <?php echo $this->translate('All rights reserved.') ?></p>
    </footer>
</div> <!-- /container -->
<!-- BEGIN # MODAL LOGIN -->
<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" align="center">
                <img class="img-circle" id="img_logo" src="http://bootsnipp.com/img/logo.jpg">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
            </div>
            <!-- Begin # DIV Form -->
            <div id="div-forms">

                <!-- Begin # Login Form -->
                <!--<form id="login-form">-->

                <?php
                $form->setAttribute('class', 'navbar-form')
                    ->setAttribute('role', 'form');
                echo $this->form()->openTag($form);
                ?>
                <div class="modal-body">
                    <div id="div-login-msg">
                        <div id="icon-login-msg" class="glyphicon glyphicon-chevron-right"></div>
                        <span id="text-login-msg">Type your username and password.</span>
                    </div>
                    <!--<input id="login_username" class="form-control" type="text" placeholder="Username (type ERROR for error effect)" required>-->
                    <?php
                    $email = $form->get('email');
                    $email->setAttribute('class', 'form-control');
                    echo $this->formRow($email);
                    echo $this->formElementerrors($email);
                    ?>
                    <!--<input id="login_password" class="form-control" type="password" placeholder="Password" required>-->
                    <?php
                    $password = $form->get('password');
                    $password->setAttribute('class', 'form-control');
                    echo $this->formRow($password);
                    echo $this->formElementerrors($password);
                    ?>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Remember me
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <div>
                        <!--<button type="submit" class="btn btn-primary btn-lg btn-block">Login</button>-->
                        <?php
                        $submit = $form->get('submit');
                        $submit->setAttribute('class', 'btn btn-naranja btn-block btn-login');
                        echo $this->formRow($submit);
                        ?>
                    </div>
                    <div>
                        <button id="login_lost_btn" type="button" class="btn btn-link">Lost Password?</button>
                        <button id="login_register_btn" type="button" class="btn btn-link">Register</button>
                    </div>
                </div>
                <?php echo $this->form()->closeTag(); ?>
                <!--</form>-->
                <!-- End # Login Form -->

                <!-- Begin | Lost Password Form -->
                <form id="lost-form" style="display:none;">
                    <div class="modal-body">
                        <div id="div-lost-msg">
                            <div id="icon-lost-msg" class="glyphicon glyphicon-chevron-right"></div>
                            <span id="text-lost-msg">Type your e-mail.</span>
                        </div>
                        <input id="lost_email" class="form-control" type="text"
                               placeholder="E-Mail (type ERROR for error effect)" required>
                    </div>
                    <div class="modal-footer">
                        <div>
                            <button type="submit" class="btn btn-primary btn-lg btn-block">Send</button>
                        </div>
                        <div>
                            <button id="lost_login_btn" type="button" class="btn btn-link">Log In</button>
                            <button id="lost_register_btn" type="button" class="btn btn-link">Register</button>
                        </div>
                    </div>
                </form>
                <!-- End | Lost Password Form -->

                <!-- Begin | Register Form -->
                <form id="register-form" style="display:none;">
                    <div class="modal-body">
                        <div id="div-register-msg">
                            <div id="icon-register-msg" class="glyphicon glyphicon-chevron-right"></div>
                            <span id="text-register-msg">Register an account.</span>
                        </div>
                        <input id="register_username" class="form-control" type="text"
                               placeholder="Username (type ERROR for error effect)" required>
                        <input id="register_email" class="form-control" type="text" placeholder="E-Mail" required>
                        <input id="register_password" class="form-control" type="password" placeholder="Password"
                               required>
                    </div>
                    <div class="modal-footer">
                        <div>
                            <button type="submit" class="btn btn-primary btn-lg btn-block">Register</button>
                        </div>
                        <div>
                            <button id="register_login_btn" type="button" class="btn btn-link">Log In</button>
                            <button id="register_lost_btn" type="button" class="btn btn-link">Lost Password?
                            </button>
                        </div>
                    </div>
                </form>
                <!-- End | Register Form -->

            </div>
            <!-- End # DIV Form -->
        </div>
    </div>
</div>
<!-- END # MODAL LOGIN -->
<?php echo $this->inlineScript() ?>
</body>
</html>
