<link rel="stylesheet" type="text/css" href="<?php echo $this->base_path() ?>/css/jquery.dataTables.min.css">
<table id="usuarios" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
    <tr>
        <th>Nombre</th>
        <th>Correo</th>
        <th>DNI</th>
    </tr>
    </thead>
    <tfoot>
    <tr>
        <th>Nombre</th>
        <th>Correo</th>
        <th>DNI</th>
    </tr>
    </tfoot>
    <tbody>
    <?php foreach ($usuarios as $user){ ?>
    <tr>
        <td><?php echo $user['full_name'] ?></td>
        <td><?php echo $user['email'] ?></td>
        <td><?php echo $user['DNI'] ?></td>
    </tr>
    <?php } ?>

    </tbody>
</table>
<script src="<?php echo $this->base_path() ?>/js/jquery.dataTables.min.js" defer="defer"></script>
<script>
    $(document).ready(function () {
        $('#usuarios').DataTable(
            {
                "lengthMenu": [[3, 6, 10, -1], [3, 6, 10, "Todos"]]
            }
        );
    });
</script>